!DOCTYPE html>

<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">

  <header>
    <% include ./partials/header %>
  </header>
  <main>
    <div class="container-fluid text-left">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <p>
            <a href="/addClass">Dive Classes</a>
          </p>
          <p>
            <a href="#">Top Diving Sites</a>
          </p>
        </div>
        <div class="col-sm-8 text-left">
          <h1>Diving With The Stars Admin Site</h1>
          <p>Only Authorized users are permitted in this Site!</p>
          <hr>
          <!--   <h3>Test</h3>
      <p>Lorem ipsum...</p> -->
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>

</html>