<!DOCTYPE html>

<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
<div class="container-fluid text-left">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/addClass">Dive Classes</a></p>
      <p><a href="#">Top Diving Sites</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
       <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Admin Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>