<!-- views/profile.ejs -->
<!DOCTYPE html>

<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>
	<main>

	<!--	<div class="page-header text-center">
			<h1>
				<span class="fa fa-anchor"></span> Profile Page</h1>
		</div>
    -->
		<div class="container-fluid text-left">
			<div class="row content">
				<div class="col-sm-2 sidenav">
					<p>
						<a href="/addClass">Dive Classes</a>
					</p>
					<p>
						<a href="/topDiveSite">Top Diving Sites</a>
					</p>
				</div>
				<div class="col-sm-8 text-left">
					<div class="col-sm-6 col-sm-offset-3">
						<!-- LOCAL INFORMATION -->
						
							<h3>
								<span class="fa fa-user"></span> Local</h3>

							<p>
								<strong>id</strong>:
								<%= user.id %>
									<br>
									<strong>username</strong>:
									<%= user.username %>
										<br>
										<strong>password</strong>:
										<%= user.password %>
							</p>

					</div>

				</div>
				<div class="col-sm-2 sidenav">
					<div class="well">
						<p>ADS</p>
					</div>
					<div class="well">
						<p>ADS</p>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>