<!DOCTYPE html>

<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>
	<main>
		<div class="container-fluid text-left">
			<div class="row content">
				<div class="col-sm-2 sidenav">
					<p>
						<a href="/addClass">Dive Classes</a>
					</p>
					<p>
						<a href="/addTopSpot">Top Diving Sites</a>
					</p>
				</div>

				<div class="col-sm-8 text-left">

					<div class="col-md-6 col-md-offset-3">
						<form id="topSpotsForm">
							<div class="form-group">
								<label for="spot">Top Spot Name:</label>
								<input type="text" class="form-control" id="spot">
								<br />
								<label for="images">Images URL,[Comma Delimited]:</label>
								<textarea class="form-control" rows="6" id="images"></textarea>
								<br />
								<label for="body">Description:</label>
								<textarea class="form-control" rows="10" id="body"></textarea>
								<br />
								<label for="zip">Zip <Code></Code>:</label>
								<input type="number" class="form-control" id="zip">
								<br />
								<button type="submit" class="btn btn-success submit">Submit</button>
							</div>
						</form>
					</div>
				</div>

				<div class="col-sm-2 sidenav">
					<div class="well">
						<p>ADS</p>
					</div>
					<div class="well">
						<p>ADS</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Custom Script -->
		<!-- <script src='../scripts/classes.js' type="text/javascript"></script> -->
		<script>
			$(document).ready(function () {
				// Gets an optional query string from our url (i.e. ?post_id=23)
				var url = window.location.search;
				var postId;
				// Sets a flag for whether or not we're updating a post to be false initially
				var updating = false;

				// If we have this section in our url, we pull out the post id from the url
				// In localhost:8080/cms?post_id=1, postId is 1
				if (url.indexOf("?post_id=") !== -1) {
					postId = url.split("=")[1];
					getClassData(postId);
				}


				// Getting jQuery references to the post body, title, form, and category select
				var spotInput = $("#spot");
				var imagesInput = $("#images");
				var bodyInput = $("#body");
				var zipInput = $("#zip");
				var topSpotsForm = $("#topSpotsForm");

				// Adding an event listener for when the form is submitted
				$(topSpotsForm).on("submit", function handleFormSubmit(event) {
					event.preventDefault();

					console.log(spotInput);
					console.log(imagesInput);
					console.log(bodyInput);
					console.log(zipInput);


					// Wont submit the post if we are missing a body or a title
					if (!spotInput.val().trim() || !bodyInput.val().trim()) {
						return;
					}
					// Constructing a newPost object to hand to the database
					var newTopSpot = {
						spot: spotInput.val().trim(),
						images: imagesInput.val().trim(),
						body: bodyInput.val().trim(),
						zip: zipInput.val()
					};

					console.log(newTopSpot);

					// If we're updating a post run updatePost to update a post
					// Otherwise run submitPost to create a whole new post
					if (updating) {
						newTopSpot.id = postId;
						updateClass(newTopSpot);
					} else {
						submitClass(newTopSpot);
					}
				});

				// Submits a new post and brings user to Admin page upon completion
				function submitClass(Class) {
					$.post("/api/topSpots/", Class, function () {
						window.location.href = "/addTopSpot";
					});
				}

				// Gets post data for a post if we're editing
				function getClassData(id) {
					$.get("/api/topSpots/" + id, function (data) {
						if (data) {
							// If this post exists, prefill our cms forms with its data 
						    spotInput.val(data.spot);
							imagesInput.val(data.images);
							bodyInput.val(data.body);
							zipInput.val(data.zip);
							// If we have a post with this id, set a flag for us to know to update the post
							// when we hit submit
							updating = true;
						}
					});
				}

				// Update a given post, bring user to the blog page when done
				function updateClass(Class) {
					$.ajax({
							method: "PUT",
							url: "/api/topSpots",
							data: Class
						})
						.then(function () {
							window.location.href = "/addTopSpot";
						});
				}
			});
		</script>

	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>

</body>

</html>