<!-- views/profile.ejs -->
<!DOCTYPE html>

<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>
	<main>

	<!--	<div class="page-header text-center">
			<h1>
				<span class="fa fa-anchor"></span> Profile Page</h1>
		</div>
    -->
		<div class="container-fluid text-left">
			<div class="row content">
				<div class="col-sm-2 sidenav">
					<p>
						<a href="/addClass">Dive Classes</a>
					</p>
					<p>
						<a href="/addTopSpot">Top Diving Sites</a>
					</p>
				</div>
				<div class="col-sm-8 text-left" >
                  <div class="text-center">
                    <h3><b>Diving With The Stars</b></h3>
                    <h3><b>Back-end System</b></h3>
                    <br>
                    <h3 class="redColor" >Security Alert!</h3>
                    <h3 class="redColor" >You First Need to Login Successfully!</h3>
                   
				</div>
					

				</div>
				<div class="col-sm-2 sidenav">
					<div class="well">
						<p>ADS</p>
					</div>
					<div class="well">
						<p>ADS</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<% include ./partials/footer %>
	</footer>

</body>

</html>